<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Agregar Comentario</h3>
  <form action="/tasks/add" method="post">

    {{! Title Input }}
    <div class="mb-3">
      <label for="title">Nombre Completo:</label>
      <input
        id="title"
        class="form-control rounded-0 bg-dark text-white"
        type="text"
        name="title"
        placeholder="Nombre"
        autofocus
      />
    </div>

    {{! Description Input }}
    <div class="mb-3">
      <label for="description">Comentario</label>
      <textarea
        class="form-control rounded-0 bg-dark text-white"
        name="description"
        cols="80"
        placeholder="Agrega un comentario"
      ></textarea>
    </div>

    <button class="btn btn-primary btn-sm mt-2">Add</button>
  </form>
</div>
