
    <nav class="navbar navbar-dark bg-black mb-4">

        <div class="container">
            <a href="/" class="navbar-brand">CRUD Nodejs and Mongodb</a>
            <a href="/home" class="navbar-brand">home</a>
          
        </div>


    </nav>
